 <!-- form handling-->

 <form action="/api/users" method="POST" id="add-user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name:</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Artimus-100">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Email:</label>
            <input type="text" name="Email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="Gender" class="text-light">Gender:</label>
             <div class="radio inline">
                <input type="radio" id="radio-2" name="Gender" value="Male" placeholder="gender">
                 <label for="radio-2" class="radio-label">Male</label>
             </div>
             <div class="radio inline">
                <input type="radio" id="radio-3" name="Gender" value="Female" placeholder="gender">
                 <label for="radio-3" class="radio-label">Female</label>
             </div>
             </div>
             

             <div class="form-group">
                <label for="Gender" class="text-light">Status:</label>
                 <div class="radio inline">
                    <input type="radio" id="radio-4"name="Status" value="Active" placeholder="Status">
                     <label for="radio-4" class="radio-label">Active</label>
                 </div>
                 <div class="radio inline">
                    <input type="radio" id="radio-5" name="Status" value="Inactive" placeholder="status">
                     <label for="radio-5" class="radio-label">Inactive</label>
                 </div> 
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update" >Save</button>
        </div>
    </div>
</form>
<!-- form handling-->